<html>
<head>
	<title>Resume Pages </title>

</head>
<body>

	<h1>Welcome In My Resume</h1>
	<%= image_tag("reza.jpg", :alt => "Reza", :height => "200", :width => "200") %>
	<h2>Summary</h2>
	<p>
		Perkenalkan nama saya Reza Nur Rochmat.<br> 
		Saya lulusan dari Sekolah Vokasi Universitas Gadjah Mada Yogyakarta.<br> 
		Saya mengambil jurusan Komputer dan Sistem Informasi, <br> 
		dan memiliki kemampuan yang lebih pada pemrograman web <br> 
		dan sistem informasi.<br> Saya beberapa kali membuat aplikasi berbasis web.
	</p>
	<h2>Education</h2>
	<p>
		<p>SD Negeri Paraksari.</p>
		<p>SMP N 1 Pakem.</p>
		<p>SMK Muhammadiyah Pakem.</p>
		<p>Sekolah Vokasi Universitas Gadjah Mada.	</p>
	</p>
	<h2>Software</h2>
	<p>
		<p>Microsoft Visio</p>
		<p>Tools Revision / Git</p>
		<p>Sublime Text 2</p>
		<p>Star UML</p>
		<p>HeidiSQL</p>
		<p>Microsoft Word</p>
		<p>Microsoft Excel</p>
	</p>
	<h2>Skills</h2>
	<p>
		<p>PHP</p>
		<p>Ruby On Rails Framework</p>
		<p>Twitter Bootstrap</p>
		<p>PHP Framework (Code Igniter Preferrable)</p>
		<p>HTML CSS and JS</p>
	</p>
	<h2>Portofolio</h2>
	<p>
		<p>Sistem Informasi Manajemen Aset PT Aino Indonesia</p>
		<p>Company Profile Capricorn Roller</p>
		<p>And many more project. See my repository.</p>
		<p>Github Repo. RezaNurRochmat13</p>
	</p>
	<h2>Social And Network</h2>
	<p>Email : rezanurrochmat@gmail.com</p>
	<p>LinkedIn : https://www.linkedin.com/in/reza-rochmat-842383137/</p>
	<p>GitHub Account : RezaNurRochmat13</p>

</body>
<p> My Portofolio @All Right Reserved <%= Date.today.year %></p>
</html>